apiVersion: 1

datasources:
- name: InfluxDB
  type: influxdb
  access: proxy
  orgId: 1
  url: http://influxdb:8086
  password: ""
  user: ""
  database: azmon
  basicAuth: false
  isDefault: true
  version: 1
  editable: false